* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

.container-title{
    display: flex;
    background-color: black;
    color: bisque;
    justify-content: space-around;
    align-items: center;

}

img{
width: 100px;
}