* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';
}

.container-title{
    display: flex;
    background-color: black;
    color: bisque;
    justify-content: space-around;
    align-items: center;

}

img{
width: 100px;
}

section{
    display: flex;
    justify-content: center;
}

.container-text{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    font-size:20px;
}

.container-photos{
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 1050px; 
}

.tech{
    border: 2px solid black;
    width: 350px;
    height: 350px;
}

.footer{
    display: flex;
    justify-content: center
}



.footer img{
    width: 40px;
    margin-left: 20px;
    margin-top: 20px;

}