Fundamentos/Projetos/tryber_antigo/img/senhor_sorridente.jpg
Fundamentos/Projetos/tryber_antigo/img/pessoas_programando.jpeg
Fundamentos/Projetos/tryber_antigo/img/dono2.jpeg
Fundamentos/Projetos/tryber_antigo/img/dono1.jpeg
Fundamentos/Projetos/tryber_antigo/img/depoimento3.png
Fundamentos/Projetos/tryber_antigo/img/depoimento2.png
Fundamentos/Projetos/tryber_antigo/img/depoimento1.png
Fundamentos/Projetos/tryber_antigo/index.html
Fundamentos/Projetos/tryber_antigo/style.css
Fundamentos/Bloco07 -  Introdução à JavaScript ES6 e Testes Unitários/Dia3-Primeiros-passos-em-Jest/aula-teste-jeste/node_modules
Fundamentos/Bloco07 -  Introdução à JavaScript ES6 e Testes Unitários/Dia3-Primeiros-passos-em-Jest/aula-teste-jeste/Exercicio-pratico/node_modules
Front End/Bloco09 - JavaScript e Testes Assíncronos/9.2-FetchAPI/node_modules
Front End/Bloco09 - JavaScript e Testes Assíncronos/9.2-FetchAPI/package.json
Front End/Bloco09 - JavaScript e Testes Assíncronos/9.2-FetchAPI/package-lock.json
/home/edilsonlima/Documentos/TRYBE/Trybe_exercicios/trybe_exercicios/Front End/Bloco15-Redux/ia01/node_modules

