.frase {
    background-color: yellow;
}

.par {
    background-color: green;
}

.impar {
    text-transform: uppercase;
}

.title {
    color: red;
}

.principal {
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

.italic{
    font-weight: 600;
}