body{
    font-family: Arial, Helvetica, sans-serif;
    color: #1f1c0d;
    background-color: #fee9fc;
}

#header{
    background-color: #FFC5E5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

h3{
    display: inline-block;
    float: right;
    padding: 5px;
    margin-top: 0;
}




