#header{
    background-color: #FFC5E5;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

h3{
    display: inline-block;
    float: right;
    padding: 5px;
    margin-top: 0;
}




